* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header section style */

.container.logo {
    display: flex;
    width: 1300px;
    justify-content: space-between;
}

.header,
.footer {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
}

.header {
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 12px;
}

ul {
    list-style: none;
    margin: 12px;
}

li {
    display: inline;
    padding: 0 8px;
}

a,
.secondary {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
 
/* First section style */

.title {
    background-color: #1F2937;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.container.signup {
    display: flex;
    width: 1000px;
    flex: none;
}

.main,
.image {
    flex: 1;
}

.image {
    display: flex;
    margin-left: 75px;
    background-color: grey;
    height: 225px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    color: white;
    width: 125px;
    padding: 10px 20px;
    border-radius: 7px;
}

/* Second section style */

.container.information {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.random {
    padding: 50px;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.content {
    display: flex;
    gap: 75px;
    margin-bottom: 75px;
}

.card  {
    width: 225px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card > p {
    color: #1F2937;
    font-size: 18px;
}

/* Third section style */

.quote  {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote.container {
    width: 850px;
    margin: 125px;
}

.text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.cite {
    padding: 10px;
    width: 850px;
    text-align: right;
    color: #1F2937;
    font-size: 23px;
    font-weight: bold;
}

/* Fourth section style */

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.action {
    border-radius: 15px;
    background-color: #3882F6;
    display: flex;
    margin: 100px;
    padding: 50px 75px;
    gap: 150px
}

.time {
    font-size: 24px;
    font-weight: bold;
}

.time,
.pointer {
    color: #F9FAF8;
}

.button > button {
    border: 2px solid #F9FAF8;
    font-size: 18px;
    font-weight: bold;
}

/* Footer style */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p {
    margin: 50px;
}




